@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}
<div class="create-box">


    <h3 class="orange-text">@ViewData["Title"]</h3>
    <h4 class="grey-text">Podaj swój adres email.</h4>
    <hr />
    <div class="row" style="width: 100%;">

            <form asp-action="ForgotPassword" method="post"  style="width: 100%;">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group"  style="width: 100%;">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" style="width:100%" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="create-button">Wyślij</button>
            </form>
      
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
