@{
    ViewData["Title"] = "Pzypomnienie hasła";
}
<div class="create-box">
    <h2 style="color:#E0A22F">@ViewData["Title"]</h2>
    <p class="grey-text">
        Sprawdź swoją pocztę aby zmienić hasło.
    </p>

</div>

