@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


    <div class="create-box" style="margin-top:40px">

        <div class="window-label" style="margin-top:10px !important; margin-bottom:40px">REJESTRACJA</div>

        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
          
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <div class="text-danger" id="emailValidation"></div>
                <span asp-validation-for="Email"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nazwa</label>
                <input id="name" asp-for="Name" class="form-control" />
                <div id="nameValidation" class="text-danger"></div>
                <span asp-validation-for="Name"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />
                        Oświadczam, że zapoznałem się z regulaminem i polityką prywatności aplikacji IleCzasu.pl.
                    </label>
                </div>
            </div>
            <button type="submit" class="create-button">ZAREJESTRUJ</button>
        </form>
       
    </div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script>
    $('#name').on('input', function () {
        $.ajax({
            url: "/Home/NameValidation/",
            type: 'POST',
            data: { name: $(this).val() },
            success: function (result) {
                if (!result) {
                    $('#nameValidation').html('Nazwa jest już zajęta.');
                }
                else {

                    $('#nameValidation').html('');
                }
            },
            error: function () {
            },
            complete: function () {

            }
        });
    });
    $('#email').on('input', function () {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(String($(this).val()).toLowerCase())) {
            $.ajax({
                url: "/Home/EmailValidation/",
                type: 'POST',
                data: { email: $(this).val() },
                success: function (result) {
                    if (!result) {
                        $('#emailValidation').html('Email jest już zajęty.');
                    }
                    else {

                        $('#emailValidation').html('');
                    }

                },
                error: function () {
                },
                complete: function () {

                }
            });

        }
    });
   
</script>
}
