@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}
<div class="create-box">
    <h3 class="orange-text">@ViewData["Title"]</h3>
    <hr />
    <div class="row">
        
            <form method="post" style="width:100%;">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Hasło</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Potwierdź hasło</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="create-button">Zmień</button>
            </form>
        </div>
    </div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
