@model IleCzasu.Data.Entities.Category

<div class="subCategories row"></div>
<div id="categoryName" class="row"><p><i class="@Model.IconClass"></i><d> @Model.Name</d></p></div>
<div class="sort-bar row">
    <div class="datepickerRow">
        <i class="far fa-calendar-alt"></i><input type='text' placeholder="Przedział czasowy.." class="datepicker-here datepickerInput" data-language='pl' data-range="true" data-multiple-dates-separator=" - " data-toggleSelected="true" data-time-format='hh:ii' data-position="bottom right" />
        <i class="fas fa-map-marker-alt"></i><input id="citiesAutocomplete" placeholder="Miasto..">
    </div>
    <div class="view-bar">
        <button id="sortByFollows"><i class="fas fa-fire"></i></button>
        <button id="sortByDate" class="icon-active"><i class="fas fa-clock"></i></button>
        @*<button id="tilesView"><i class="fas fa-th-large"></i></button>*@
    </div>
</div>


<div class="most-popular-tags"></div>
<div class="row events list-events" id="events">


</div>
<div id="loading">Ładowanie...</div>

@section Scripts {
    <script>

      categoryId = @Model.CategoryId;
      showEvents();

     $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            $('#loading').show();
            showNextEvents();
        }
     });
     $('.most-popular-tags').load("/PublicEvents/ShowMostPopularTags", { categoryId: categoryId });
     $.ajax({
        url: "/PublicEvents/ShowSubcategories/",
        type: 'POST',
        data: { categoryId: categoryId },
        success: function (result) {
            $(".subCategories").html(result);
        },
        error: function () { },
        complete: function () {
            $('.subCategory').each(function () {
                $(this).click(function () {
                    categoryId = $(this).find('#subCategoryId').val();
                        $('.most-popular-tags').load("/PublicEvents/ShowMostPopularTags", { categoryId: categoryId });
                        showEvents();
                        var i = $("#categoryName").find('i');
                        $("#categoryName").html('<p></p>');
                        $("#categoryName").find('p').append(i);
                        $("#categoryName").find('p').append("<d> " + $(this).find('button').html() + "</d>");
                        shown = 30;
                    });
                });
            }
        });
    </script>
}
