
@{
    ViewData["Title"] = "PolitykaPrywatnosci";
}


<div class="privacy" style="color:#E0A22F; width:900px; margin:auto; border:1px solid #332B2B; padding:20px; margin-top:20px">
    <h2>PolitykaPrywatnosci</h2>
    1.Postanowienia ogólne <br />
    2.Cel i zakres zbierania danych<br />
    3.Podstawa przetwarzania danych<br />
    4.Prawo kontroli, dostępu do treści swoich danych oraz ich poprawiania<br />
    5.Pliki „Cookies”<br />
    6.Postanowienia końcowe<br />
    <br />
    1. POSTANOWIENIA OGÓLNE<br />
    Administratorem danych osobowych zbieranych za pośrednictwem strony internetowej ileczasu.pl. jest Daniel Ząbek, dalej „Administrator”, będący/a jednoczeście Usługodawcą.<br />
    Dane osobowe Usługobiorcy są przetwarzane zgodnie z ustawą o ochronie danych osobowych z dnia 29 sierpnia 1997 r. (Dz. U. Nr 133, poz. 883 ze zm.) oraz ustawą o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz. U. Nr 144, poz. 1204 ze zm.).<br />
    Administrator dokłada szczególnej staranności w celu ochrony interesów osób, których dane dotyczą, a w szczególności zapewnia, że zbierane przez niego dane są:<br />
    -przetwarzane zgodnie z prawem,<br />
    -zbierane dla oznaczonych, zgodnych z prawem celów i niepoddawane dalszemu przetwarzaniu niezgodnemu z tymi celami,<br />
    -merytorycznie poprawne i adekwatne w stosunku do celów, w jakich są przetwarzane oraz przechowywane w postaci umożliwiającej identyfikację osób, których dotyczą, nie dłużej niż jest to niezbędne do osiągnięcia celu przetwarzania.<br />
    2. CEL I ZAKRES ZBIERANIA DANYCH<br />
    Dane osobowe Usługobiorców, zbierane przez Administratora, są wykorzystywane do:<br />
    -kontaktowania się z usługobiorcą (klientem)<br />
    -celów informacyjnych oraz innych czynności związanych z aktywnością Usługobiorcy na stronie internetowej ileczasu.pl<br />
    -celów marketingowych (Newsletter)<br />
    Administrator przetwarza następujące dane osobowe Usługobiorców:<br />
    -Imię i nazwisko,<br />
    -Adres e-mail,<br />
    Administrator może przetwarzać następujące dane charakteryzujące sposób korzystania przez Usługobiorcę z usług świadczonych drogą elektroniczną (dane eksploatacyjne):<br />
    -Oznaczenia identyfikujące zakończenie sieci telekomunikacyjnej lub system teleinformatyczny, z którego korzystał Usługobiorca.<br />
    -Informacje o rozpoczęciu, zakończeniu oraz zakresie każdorazowego korzystania przez Usługobiorcę z usługi świadczonej drogą elektroniczną.<br />
    -Informacje o skorzystaniu przez Usługobiorcę z usług świadczonych drogą elektroniczną.<br />
    Podanie danych osobowych, o których mowa w pkt 2 jest niezbędne do świadczenia przez Usługodawcę usług drogą elektroniczną w ramach strony internetowej.<br />
    3.PODSTAWA PRZETWARZANIA DANYCH<br />
    Korzystanie ze strony oraz zawieranie umów o świadczenie usług drogą elektroniczną za jej pośrednictwem, z czym wiąże się konieczność podania danych osobowych, jest całkowicie dobrowolne. Osoba, której dane dotyczą, samodzielnie decyduje, czy chce rozpocząć korzystanie z usług świadczonych drogą elektroniczną przez Usługodawcę zgodnie z Regulaminem.<br />
    Zgodnie z art. 23 ustawy o ochronie danych osobowych z dnia 29 sierpnia 1997 r. (Dz. U. Nr 133, poz. 883 ze zm.) przetwarzanie danych jest dopuszczalne m.in. gdy:<br />
    osoba, której dane dotyczą, wyrazi na to zgodę, chyba że chodzi o usunięcie dotyczących jej danych.<br />
    jest to konieczne do realizacji umowy, gdy osoba, której dane dotyczą, jest jej stroną lub gdy jest to niezbędne do podjęcia działań przed zawarciem umowy na żądanie osoby, której dane dotyczą.<br />
    Przetwarzanie danych osobowych przez Administratora odbywa się zawsze w ramach podstaw dopuszczalności ich przetwarzania wymienionych w pkt 2. Przetwarzanie danych będzie miało związek z realizacją umowy lub konieczności podjęcia działań przed zawarciem umowy na żądanie osoby, której dane dotyczą (pkt 2 lit. b).<br />
    4. PRAWO KONTROLI, DOSTĘPU DO TREŚCI SWOICH DANYCH ORAZ ICH POPRAWIANIA<br />
    Usługobiorca ma prawo dostępu do treści swoich danych osobowych oraz ich poprawiania.<br />
    Każdej osobie przysługuje prawo do kontroli przetwarzania danych, które jej dotyczą, zawartych w zbiorze danych Administratora, a zwłaszcza prawo do żądania uzupełnienia, uaktualnienia, sprostowania danych osobowych, czasowego lub stałego wstrzymania ich przetwarzania lub ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem ustawy albo są już zbędne do realizacji celu, dla którego zostały zebrane.<br />
    W celu realizacji uprawnień, o któych mowa w pkt. 1 i 2 można korzystać poprzez przesłanie stosownej wiadomości e-mail na adres:<br />
    5. PLIKI "COOKIES"<br />
    Strona internetowa Usługodawcy używa plików „cookies”. Brak zmiany po stronie Usługobiorcy ustawień przeglądarki jest równoznaczny z wyrażeniem zgody na ich użycie.<br />
    Instalacja plików „cookies” jest konieczna do prawidłowego świadczenia usług na stronie internetowej. W plikach „cookies" znajdują się informacje niezbędne do prawidłowego funkcjonowania strony internetowej, w szczególności tych wymagających autoryzacji.<br />
    W ramach strony internetowej stosowane są rodzaje:<br />
    stałe<br />
    „Stałe” pliki „cookies” przechowywane są w urządzeniu końcowym Usługobiorcy przez czas określony w parametrach plików „cookies” lub do czasu ich usunięcia przez Użytkownika.<br />
    Użytkownik ma prawo zadecydowania w zakresie dostępu plików „cookies” do swojego komputera poprzez ich uprzedni wybór w oknie swojej przeglądarki.  Szczegółowe informacje o możliwości i sposobach obsługi plików „cookies” dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).<br />
    6. POSTANIOWIENIA KOŃCOWE<br />
    Administrator stosuje środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych osobowych odpowiednią do zagrożeń oraz kategorii danych objętych ochroną, a w szczególności zabezpiecza dane przed ich udostępnieniem osobom nieupoważnionym, zabraniem przez osobę nieuprawnioną, przetwarzaniem z naruszeniem obowiązujących przepisów oraz zmianą, utratą, uszkodzeniem lub zniszczeniem.<br />
    Usługodawca udostępnia odpowiednie środki techniczne zapobiegające pozyskiwaniu i modyfikowaniu przez osoby nieuprawnione, danych osobowych przesyłanych drogą elektroniczną.<br />
</div>