@{
    @model IleCzasu.Models.ViewModels.UserNavWidgetViewModel
}

<div class="user-widget-avatar"><img src="~/images/avatars/@Model.User.Avatar" width="47" height="47" /></div>

@*<div class="user-widget-lvl">@Model.Level.Lvl</div>*@


